*{
    box-sizing: border-box;
}

/* Main area */
#title{
    background-color: rgba(255, 127, 80, 0.822);
    margin-top: 80px;
    padding-bottom: 200px;
}

#contents{
    position: relative;
    top: -160px;
}
