*{
    box-sizing: border-box;
    margin: 0;
}

/* Main area */

/* ** Showcase ** */
#showcase{
    height:400px;
    background-image: url(../img/product/cat_food.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#showcase h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-top: 250px;
    padding-left: 550px;
    font-weight: bold;
}


/* contents area */
#contents{
    margin-top: 70px;
    margin-bottom: 80px;
}

/* product area */
#product h4{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 70px;
}

/* description area */
#description{
    margin-bottom: 50px;
}

#image{
    margin-bottom: 50px;
}