*{
    box-sizing: border-box;
    margin: 0;
}

/* Main area */
#about{
    height: 100%;
    padding: 15%;
    background-image: url(../img/home_about_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* hotel area */
#hotel{
    margin-top: 200px;
    background-color: #fbeec154;
}

#hotel .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
}

#hotel .content{
    padding: 50px;
}

/* service area */
#service{
    margin-bottom: 150px;
    background-color: #f3d96f54;
}

#service p{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
}

/* Advertisement area */
#ads{
    margin-bottom: 150px;
}

/* Product area */
#shop{
    height: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 5%;
    /* background-color: rgba(245, 245, 220, 0.568); */
}

#shop p{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
}

#shop .article1{
    /* background-color: rgba(248, 190, 81, 0.637); */
}

#shop .article2{
    /* background-color: rgba(230, 231, 168, 0.637); */
}


/* Trivia area */
#trivia{
    height: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

#trivia p{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
}
