*{
    box-sizing: border-box;
    margin: 0;
}

/* Main area */
#showcase{
    height: 600px;
    background-image: url(../img/dog_holding.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}

#showcase p{
    padding-top:250px;
}

#reservation{
    border: dotted 2px #000000;
    margin-top: 100px;
    
}



