*{
    box-sizing: border-box;
    margin: 0;
}

/* Main area */
#showcase{
    height: 600px;
    background-image: url(../img/dog_holding.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}

#showcase p{
    padding-top:250px;
}

/* reservation area */
#reservation{
    margin-top: 100px;
}

#info{
    padding-top: 60px;
}
#info h5{
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bold;
    font-size: 23px;
}

#form{
    /* margin-left: 5px; */
}
#form h3{
    font-family: 'Montserrat', sans-serif;
}

/* address area */
#address{
    margin-top: 50px;
    margin-bottom: 120px;
}


