*{
    box-sizing: border-box;
    margin: 0;
}

/* Main area */

/* ** Showcase ** */
#showcase{
    /* border: solid 2px #000000; */
    height: 600px;
    background-image: url(../img/service/service_bg.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

#showcase p{
    padding-top: 250px;
}

/* catch phrase area */
#catch_phrase{
    background-color: rgba(85, 81, 81, 0.425);

}

/* ** background of Services ** */
#bg_title h3{
    font-family:'Akaya Telivigala', cursive;
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 40px;
}

#bg{
    background-color: #f3d7c598;
    box-shadow: rgba(128, 128, 128, 0.507) 3px 5px 15px;
    height: 250px;
}

/* ** #services ** */
#services{
    height: 300px;
    margin-top: -170px;
    margin-bottom: 200px;
}

/* ** Our Team area ** */
#team{
    height: 300px;
    margin-bottom: 200px;
 }

#team h3{
    font-family:'Akaya Telivigala', cursive;
    margin-bottom: 50px;
    font-size: 35px;
}

#team a{
    position: fixed;
    right: 10px;
    bottom: 50px;
}
